html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url(/background.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    color: white;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}
